<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login - Ikea Karate Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Competition List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:8084/formData">Players List
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8084/form">Add New Player</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8084/formDataPayment">Payment List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8084/formPayment">Add New Payment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8084/formDataCompetition">Competition List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8084/formCompetition">Add New Competition</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8084/formKumite">Kumite</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="example" class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>Last Name</th>
                    <th>Category</th>
                    <th>Sex</th>
                    <th>Vintage</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="competition : ${competitionList}">
                    <td th:text="${competition.lastName}">Last Name</td>
                    <td th:text="${competition.category}">Club</td>
                    <td th:text="${competition.sex}">Date Of Birth</td>
                    <td th:text="${competition.vintage}">Degree</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>


</script>

</body>
</html>