<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login - Ikea Karate Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">New Payment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:8084/formData">Players List
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8084/form">Add New Player</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8084/formDataPayment">Payment List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8084/formPayment">Add New Payment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8084/formDataCompetition">Competition List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8084/formCompetition">Add New Competition</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8084/formKumite">Kumite</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="container">
        <form action="#" th:action="@{/formValidatePayment}" th:object="${payment}" method="post" class="container-fluid text-center">
            <table>
                <tr><td></td></tr>
                <tr>
                    <td>
                        <label>
                            Choose a player:
                            <select th:field="*{firstName}">
                                <option th:each="i : ${playerList}"
                                        th:value="${i.firstName}"
                                        th:text="${i.firstName + ' ' + i.lastName}">
                                </option>
                            </select>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" th:field="*{price}" placeholder="Price"/></td>
                    <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</td>
                </tr>
                </tr>
                <td>
                <label>
                    <select th:field="*{typeOfPrice}">
                        <option th:value="'PLN'" th:text="PLN"></option>
                        <option th:value="'EUR'" th:text="EUR"></option>
                        <option th:value="'GBP'" th:text="GBP"></option>
                        <option th:value="'USD'" th:text="USD"></option>
                    </select>
                </label>
                </td>
                <tr><td></td><td></td>
                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-primary">Submit</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>


</script>

</body>
</html>